In [1]:
import pandas as pd
from functools import reduce

#merge data files
AZ_Employment ="EMPLOYAZ.csv"
AZ_Assets = "AZTAST.csv"
CA_Employment = "EMPLOYCA.csv"
CA_Assets = "CATAST.csv"
FL_Employment ="EMPLOYFL.csv"
FL_Assets = "FLTAST.csv"
TX_Employment = "EMPLOYTX.csv"
TX_Assets = "TXTAST.csv"
NY_Employment = "EMPLOYNY.csv"
NY_Assets = "NYTAST.csv"

# Read the data and the study results
AZ_Employment = pd.read_csv(AZ_Employment)
AZ_Assets = pd.read_csv(AZ_Assets)
CA_Employment = pd.read_csv(CA_Employment)
CA_Assets = pd.read_csv(CA_Assets)
FL_Employment = pd.read_csv(FL_Employment)
FL_Assets = pd.read_csv(FL_Assets)
TX_Employment = pd.read_csv(TX_Employment)
TX_Assets = pd.read_csv(TX_Assets)
NY_Employment = pd.read_csv(NY_Employment)
NY_Assets = pd.read_csv(NY_Assets)

In [3]:
States_List = [AZ_Employment, AZ_Assets, CA_Employment, CA_Assets, FL_Employment, FL_Assets, TX_Employment, TX_Assets, NY_Employment, NY_Assets]

States_merge = reduce(lambda left,right: pd.merge(left,right, on=['DATE'], how = 'inner'), States_List)

States_merge

,DATE,EMPLOYAZ,AZTAST,EMPLOYCA,CATAST,EMPLOYFL,FLTAST,EMPLOYTX,TXTAST,EMPLOYNY,NYTAST
0,2003-10-01,2493500,59954040,16400900,481215482,7590500,79300763,10240300,136451478,8852700,1595462417
1,2004-01-01,2526500,48952480,16407400,238540573,7663400,83252891,10252900,139942740,8809300,1649741972
2,2004-04-01,2552400,52303555,16443500,247023538,7761500,83598300,10238400,143958082,8768400,1719407226
3,2004-07-01,2587300,54849392,16519800,251607057,7876300,84439096,10258300,147233210,8813800,1622308586
4,2004-10-01,2619200,58624495,16577400,265813575,7997000,89237569,10303200,151466947,8870400,1010074345
...,...,...,...,...,...,...,...,...,...,...,...
63,2019-07-01,3350100,30967945,18668000,829080767,9971900,159226527,13522000,421325663,9165900,992381163
64,2019-10-01,3373500,31210017,18641800,843262929,10031800,159637990,13587700,427337046,9115100,1016532907
65,2020-01-01,3409600,33172435,18617800,887064433,10064600,171058455,13601700,441327746,9146200,1158796858
66,2020-04-01,3351000,36608281,17905500,946663218,9676200,195899873,13273200,485454404,8772000,1188428456
67,2020-07-01,3319900,38175624,17366900,958551907,9451500,196493301,13107400,498320031,8549900,1187466381

In [ ]:
#First demo:  Getting the numeric and categorical columns

numeric_column_names = titanic_selected_df.select_dtypes(["int64","float64"]).columns
print(f"Numeric columns: {list(numeric_column_names)}")

categorical_column_names = titanic_selected_df.select_dtypes(["object"]).columns
print(f"Categorical columns: {list(categorical_column_names)}")

In [ ]:
#Second demo:  using loops to perform regressions on all numeric column pairs

print("R Scores after performing regression on X and Y values:")
for x_column in numeric_column_names:
    
    for y_column in numeric_column_names:
        
        if x_column != y_column:
            
            x_vals = titanic_selected_df[x_column]
            y_vals = titanic_selected_df[y_column]
            
            (slope, intercept, rvalue, pvalue, stderr) = linregress(x_vals, y_vals)
            
            print(f"({x_column},{y_column}):{rvalue}")