In [ ]:
def color_scatter(df, col1, col2, indicator, bins, title, y_label):
    
    # creating labels out of bins list
    labels = []
    for i in range(len(bins)-1):
        labels.append(f"{bins[i]}-{bins[i+1]-1}")
    
    df_year = df.copy()
    yr = indicator.astype(int)
    df_year['labels'] = pd.cut(yr, bins, labels=labels, include_lowest=True)
    
    #Scatterplot and regression line
    groups = df_year.groupby('labels')
    for name, group in groups:
        plt.plot(group[col1], group[col2], marker='o', linestyle='', markersize=8, label=name)

    plt.title(title)
    plt.xlabel('Level of Employment')
    plt.ylabel(y_label)
    plt.legend()
    plt.show()

In [ ]:
years_bins = [2003,2005, 2008, 2011, 2014, 2017, 2021]
date_col = pd.to_datetime(States_merge['DATE'])

In [ ]:
# colored acatter plot for AZ data
color_scatter(States_merge, 'EMPLOYAZ', 'AZTAST',date_col.dt.year, years_bins,"AZ Total CB vs. Total Emp", "AZ Total CB" )

In [ ]:
# colored acatter plot for CA data
color_scatter(States_merge, 'EMPLOYAZ', 'CATAST', date_col.dt.year, years_bins,"CA Total CB vs. Employment", "CA Total CB Assets")

In [ ]:
# colored acatter plot for NY data
color_scatter(States_merge, 'EMPLOYAZ', 'NYTAST', date_col.dt.year, years_bins,"NY Total CB vs. Employment", "NY Total CB Assets")

In [ ]:
# colored acatter plot for TX data
color_scatter(States_merge, 'EMPLOYAZ', 'TXTAST', date_col.dt.year, years_bins,"TX Total CB vs. Employment", "TX Total CB Assets")

In [ ]:
# colored acatter plot for FL data
color_scatter(States_merge, 'EMPLOYAZ', 'FLTAST', date_col.dt.year, years_bins,"FL Total CB vs. Employment", "FL Total CB Assets")

In [ ]:
national_bins = [1973, 1975, 1978, 1981, 1984, 1987,
                 1990, 1993, 1996, 1999, 2002, 2005, 
                 2008, 2011, 2014, 2017, 2020, 2024]
national_bins = [1973, 1978, 1984, 1990, 1996, 2002, 
                 2008, 2014, 2020, 2024]
national_date_col = pd.to_datetime(National_merge['DATE'])

In [ ]:
# colored acatter plot for US data
color_scatter(National_merge, 'EMPLOYMENT WOMEN:US', 'COMM BANKING ASSETS:US', national_date_col.dt.year, national_bins,"US Total CB vs. Women Emp", "US Total CB" )

In [ ]:
# colored acatter plot for US data
color_scatter(National_merge, 'EMPLOYMENT MEN:US', 'COMM BANKING ASSETS:US', national_date_col.dt.year, national_bins,"US Total CB vs. Men Emp", "US Total CB" )

In [ ]:
national_bins = [1973, 2003,2005, 2008, 2011, 2014, 2017, 2021]
national_date_col = pd.to_datetime(National_merge['DATE'])

In [ ]:
# colored acatter plot for US data
color_scatter(National_merge, 'EMPLOYMENT WOMEN:US', 'COMM BANKING ASSETS:US', national_date_col.dt.year, national_bins,"US Total CB vs. Women Emp", "US Total CB" )

In [ ]:
# colored acatter plot for US data
color_scatter(National_merge, 'EMPLOYMENT MEN:US', 'COMM BANKING ASSETS:US', national_date_col.dt.year, national_bins,"US Total CB vs. Men Emp", "US Total CB" )